.login-content {
    width:100%;
    padding: 15%;
    margin:auto;
    background-color: #614EA6;
    height: 100vh;
}

.btn-login {
    background-color: rgba(167, 11, 11, 0.685);
}

.btn-login:hover {
    background-color: #F21667;
    color:#fff;
}

/*.imput-form {
    width:300px;
}
*/
.options-login a {
    text-decoration: none;
    color:#fff;
    transition: .3s ease-in;
}

.options-login a:hover{
    text-decoration: none;
    color:#F21667;

}